.lxproject
.lxpreferences
.DS_Store
.idea/
*.iml
*.log
target/
com/
heronarts/
icon/
data/
japplemenubar/
META-INF/
processing/
uk/
overview.html
.netbeans_automatic_build
*.lck
*.tmp
*~
panelpoints_*.csv
pixliteconfig.json
boothparams.json
panelpos.json
lxpoints.ply
panel.svg
points_panel_*.csv
shaders/*
sixteenth_*.html
build/*
fboffsets.json
gfloodoffsets.json
fpetaloffsets.json
outputmap.json

